body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    padding: 20px;
}

.header--image {
    height: 50%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.5rem;
    margin-right: auto; 
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}    

.form--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    height: 9.5rem;
    margin: 2.1rem;
}

.form--input {
    font-size: 1rem;
    line-height: 14px;
    border-radius: 6px;
    border: 1px solid #D5D4D8;
    text-indent: 1rem;
}

.form--button {
    grid-column: 1 / -1;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 19px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}